;; doom configs
.config/doom/config.el
.config/doom/custom.el

;; xmonad
.config/xmonad/xmonad.errors
.config/xmonad/build-x86_64-linux
.config/xmonad/xmonad-x86_64-linux

;; .local/bin
.local/bin/open-weather
.local/bin/open-calendar
